*
!Dockerfile
!requirements.txt
!manage.py
!smart_meeting/
!smart_meeting/**
!conference/
!conference/**
!app/
!app/templates/
!app/templates/**
!app/static/
!app/static/meeting-room.js
!app/static/style.css
!app/static/brand/
!app/static/brand/**
!flutter_app/
!flutter_app/pubspec.yaml
!flutter_app/pubspec.lock
!flutter_app/lib/
!flutter_app/lib/**
!flutter_app/web/
!flutter_app/web/**
!scripts/
!scripts/container_start.sh
**/__pycache__/
**/*.pyc
