.venv/
__pycache__/
*.pyc

.idea/
app/static
app/static/flutter_app/
.certs/

.env
.env.*
!.env.example
livekit-keys.yaml

*.log
.runlogs/

smart_meeting.db

flutter_app/.dart_tool/
flutter_app/build/
artifacts/flutter_app_web/
!artifacts/README.md
staticfiles/
tools/

livekit_1.10.1_windows_amd64/
